project:
  type: website
  execute-dir: project
  output-dir: docs
  render:
    - "*.qmd"

execute: 
  freeze: auto

website:
  title: "My Website"
  repo-url: TBD
  repo-actions: [issue]
  navbar:
    background: primary
    right: 
      - icon: github
        href: TBD
  page-footer: 
    center: "Copyright &copy; 2026, Nick J Lyon"
    background: secondary

format:
  html:
    toc: true
    link-external-newwindow: true
    link-external-icon: false
    code-overflow: wrap
    code-line-numbers: false
    code-copy: hover
    theme:
      light: _extensions/njlyon0/lyon_theme/lyon_light.scss
      dark: _extensions/njlyon0/lyon_theme/lyon_dark.scss
    mainfont: Open Sans
